@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --background-color-dark: #121212;
    --text-color-dark: #ffffff;
  }

  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

  /* Light Theme Background */
  [data-theme='light'] {
    @apply bg-white text-black;
    background-image: url('/images/LightDslr.jpg'); /* Ensure the path is correct */
    background-size: cover; /* Makes the background cover the whole area */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed */
    background-repeat: no-repeat;
  }

  /* Dark Theme Background */
  [data-theme='dark'] {
    @apply bg-gray-900 text-white;
    background-image: url('/images/DarkDslr.jpg'); /* Ensure the path is correct */
    background-size: cover; /* Makes the background cover the whole area */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the image fixed */
    background-repeat: no-repeat;
  }

  /* Mobile Optimization */
  @media (max-width: 767px) {
    [data-theme='light'], [data-theme='dark'] {
      background-attachment: scroll; /* Adjust for better mobile support */
      background-size: cover; /* Ensures the image covers the entire background */
      background-position: top; /* Position image from the top */
    }
  }

  .font-dancing-script {
    font-family: 'Dancing Script', cursive;
  }

  .font-great-vibes {
    font-family: 'Great Vibes', cursive;
  }

  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-image: linear-gradient(270deg, #4fd1c5, #2c7a7b, #68d391);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  .header-link {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .header-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(270deg, #4fd1c5, #2c7a7b, #68d391);
    transition: width 0.4s ease, left 0.4s ease;
  }

  .header-link:hover::after {
    width: 100%;
    left: 0;
  }
}

.theme-toggle-btn {
  @apply px-4 py-2 m-2 cursor-pointer bg-blue-500 text-white rounded;
}

.text-neon-blue {
  color: #026288fd;
}

.text-neon-blue-dark {
  color: #00abdf;
}
